@charset "UTF-8";
body{
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
  margin: 0px;
}
.my_body{
  margin: 0 auto;
  width: 1080px;
}
/*LOGO part*/
h1{
  font-size: 40px;
  padding: 40px;
  color: #ffffff;
  background-color: #000;
  border-bottom: 1px solid #d1d1d1;
  height: 40px;
}
.container{
  position: relative;
  width:100%;
  height: 120px;
  background-color: #000;
}
.box{
  position:absolute;
  width: 1000px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -540px;

}
/*CATEGORY part*/
h2{
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #454545;
  padding-bottom: 20px;
}
.menu{
  padding: 40px;
  color: #000;
  font-size: 0;
}
.menu a{
  text-decoration: none;
}
.menu a:hover{
  border: 1px solid #454545;
  font-weight: bold;
}
.item{
  color: #000;
  display: inline-block;
  height: 31px;
  width: 322px;
  border: 1px #d1d1d1 solid;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  padding: 0px;
}
/*CONTENT part*/
.content{
  width: 1000px;
  margin: 0px;
  padding: 40px;
  padding-bottom: 10px;
  padding-top: 0;

}
.content-kind{
  padding: 14px;
  border: solid 1px #d1d1d1;
  font-size: 16px;
  width: 970px;
  height: 16px;
  color: #333;
  font-weight: bold;
  background-color: #f7f7f7;
  margin-bottom: 0px;
  margin-top: 30px;

}
.content_area{
  padding: 30px;
  margin-bottom: 30px;
  margin-left:0;
  width: 940px;
  border: solid 1px #d1d1d1;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  margin-top: 0px;
}
footer{
  text-align: center;
  border-top: 1px solid #d1d1d1;
}
footer address{
  font-style: normal;
  color: #999;
  font-size: 12px;
  margin-top: 30px;
}
footer p{
  color: #000;
  font-size: 12px;
}
table{
  text-align: center;
  border-collapse: collapse;
}
th,td{
  color: #555;
  font-size: 12px;
  height: 30px;
}
.infant-size,.infant-size th,.infant-size td{
  border: solid 1px #e4e4e4;
}
.infant-size{
  margin-bottom: 40px;
}
.infant-size th{
background-color: #fbfbfb;
}
.row-label{
  font-weight: bold;
}
.searching-rank{
  list-style: none;
}
.web-toon{
  display: inline-block;
}
caption{
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding-bottom: 14px;
}
.refd-amnt th{
  border-top: solid 2px #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
  font-weight: normal;
}
.amount{
  text-align: right;
}
.refd-amnt tfoot{
  font-weight: bold;
  border-top: solid 1px #a5a5a5;
  border-bottom: solid 1px #e4e4e4;
}
/*form style*/
h4,.form-label{
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.form-label{
  margin: 5px;
}
fieldset{
  padding: 15px;
  border: 1px solid #e4e4e4;
  background-color: #fbfbfb;
}
input{
  font-size: 12px;
  color: #000;
  border: 1px solid #e4e4e4;
}
.form-box,.phone-box,.birth-box{
  height: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-box{
  width: 100%;
}
.phone-box{
  width: 85%;
  margin-right: 10px;
  margin-bottom: 0px;
}
.phone-button{
  border: 10px #08a600;
  background-color: #4ec53d;
  font-size: 12px;
  color: #fff;
  height: 31px;
  width: 120px;
}
.birth-box{
  width: 32.6%;
}
p{
  margin: 0;
}
.gender-box{
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 50px;
}
.check-label{
  font-size: 12px;
  color: #000;
  margin-right: 65px;
}
.hello-textarea{
  margin-top: 10px;
  margin-bottom: 13px;
  width: 100%;
  height: 90px;
}
.submit-button{
  width: 100%;
  height: 40px;
  background-color: #4ec53d;
  color: #fff;
  font-size: 16px;
  border: 1px #08a600;
}
.hobby{
  padding-bottom: 20px;
}
.dict{
  font-size: 12px;
  color: #559bfa;
  text-decoration: none;
}

dt{
  display: inline-block;
  padding-right: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}
dd{
  font-size: 12px;
  color: #000;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 160%;
}
h5{
  font-size: 32px;
  text-align: center;
  color: #000;
  margin-bottom: 65px;
}
.def-project,.now-search-word,.cookie-exp,.news{
  margin-bottom: 60px;
}
.def-project{
  border: solid 1px #e4e4e4;
  padding: 22px;
  padding-bottom: 40px;
}
.searching-rank{
  padding: 20px;
  border: solid #e4e4e4 1px;
  width: 200px;

}
.rank-num{
  border: solid 1px #e0e0e0;
  font-size: 10px;
  color: #666;
  display: inline-block;
  width: 15px;
  height: 13px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 2px;
}
.rank-text{
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
.rank-text:hover{
  text-decoration: underline;
}
.menu a:hover{
  border: 1px solid #454545;
  font-weight: bold;
}
.cookie-exp-list{
  border: solid 1px #e4e4e4;
  font-size: 12px;
  color: #000;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 250%;
}
#highlight-1{
  font-weight: bold;
}
.highlight-2{
  color: #559bfa;
}
.highlight-3{
  color: #ec5336;
}
.news{
  border: solid 1px #e4e4e4;
  padding-left: 20px;
  padding-right: 23px;
}
.news-img{
  float: left;
  padding-right: 10px;
}
.news-list{
  padding-bottom: 30px;
  padding-top: 20px;
  border-bottom: solid 1px #e4e4e4;
}
.news-title{
  padding-bottom: 5px;
  display: inline-block;
  padding-top: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #00c;
}
.news-content{
  font-size: 12px;
  color: #000;
}
p{
  line-height: 150%;
}
.webtoon{
  border: solid 1px #e4e4e4;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 40px;
}
.webtoon-list{
  padding: 8px;
  display: inline-block;
  line-height: 150%;
}
.webtoon-list a{
  text-decoration: none;
}
.toon-name{
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}
.latest-toon{
  font-size: 12px;
  color: #000;
}
.cut-toon{
  border: solid 1px #71b036;
  background-color: #80c83d;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  width: 26px;
  height: 15px;
  margin-right: 4px;
  text-align: center;
}
.smart-toon{
  border: solid 1px #df4e28;
  background-color: #ec5336;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  width: 45px;
  height: 15px;
  margin-right: 4px;
  text-align: center;
}
